h1{
    color: rgb(88, 88, 173);
}

.estilizado{
    color: rgb(209, 54, 7);
}

#diferentao{
    color: rgb(7, 209, 142);
}

#caixinha{
    background-color: gray;
}

#caixinha .estilizado {
    color: blueviolet;
}

.h2_estilizado {
    color: cadetblue;
}

.h2_estilizado:hover {
    color: rgb(243, 246, 247);
    font-size:larger;
    text-decoration: undenonerline ;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,77,142,1) 35%, rgba(0,212,255,1) 100%);
}




